/node_modules
.env

2. RÁC CỦA PYTHON

pycache/
*.pyc
*.pyo
*.pyd

3. MÔI TRƯỜNG ẢO

.venv/
venv/
ENV/

4. DỮ LIỆU SESSION CỦA TELEGRAM

Các file này được Pyrogram tự tạo ra để lưu phiên đăng nhập

*.session
bot_data/
client_data/
user_session_final.session