version: '3.8'

services:
  filestream_bot:
    # Build từ Dockerfile
    build: . 
    container_name: filestream_bot_huy
    restart: always

    # Load key từ .env
    env_file:
      - .env
    
    command: sh -c "pip install -r requirements.txt && uvicorn app:web_app --host 0.0.0.0 --port 8080"
    ports:
      - "8080:8080" # Dùng cổng 8080 cho Web Server

    # Ánh xạ code (toàn bộ thư mục) và volume dữ liệu
    volumes:
      - .:/app # Ánh xạ toàn bộ thư mục hiện tại vào /app trong container
      - ./bot_data:/app/bot_data